    <div class="footer">
        <div class="allright">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <p> © 2019 <a href="#">TrouveTonCode</a></p>
                </div>
            </div>
        </div>
    </div>
</div>